<header>
   <nav class="header-container">
      <div class="logo">
         <h1 class="logo-text">
            <a href="../index.html"><i data-lucide="trees"></i>
            Wildlife India</a>
         </h1>
      </div>
      <div class="nav-links">
         <ul>
            <li class="nav-link">
               <a href="../index.html">Home</a>
            </li>
            <li class="nav-link">
               <a href="./about.html">About</a>
            </li>
            <li class="nav-link">
               <a href="./explore.html">Explore</a>
            </li>
            <li class="nav-link">
               <a href="./species.html">Species</a>
            </li>
            <li class="nav-link mobile-contact-link">
               <a href="./contact.html">
                  <i class="fa-solid fa-phone"></i> Contact
               </a>
            </li>
         </ul>
      </div>
      <div class="nav-btn">
         <button class="theme-btn" onclick="toggleDarkMode()"><i data-lucide="sun"></i></button>
         <button id="sidebar-toggle-button" aria-expanded="false" onclick="toggleSidebar()">
            <i id="sidebarIcon" data-lucide="menu"></i>
         </button>
         <a href="./contact.html" class="contact-btn">
            <i class="fa-solid fa-phone"></i> Contact
         </a>
      </div>
   </nav>
</header>